/* ---------- GLOBAL ---------- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFDEA9;
}

/* ---------- HEADER ---------- */
.header {
  position: sticky;
  top: 0;
  background: #FFDEA9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

/* ---------- BURGER ---------- */
.burger {
  width: 30px;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 4px;
  background: black;
  margin: 5px 0;
}

/* ---------- LOGO ---------- */
.logo img {
  height: 60px;
}

/* ---------- SIDEBAR ---------- */
.sidebar {
  position: fixed;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #F7CE8C;
  padding-top: 80px;
  transition: 0.3s;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}

/* ---------- OVERLAY ---------- */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ---------- MAIN ---------- */
main {
  padding: 40px;
}

/* ---------- SLIDESHOW ---------- */
.slideshow-container {
  max-width: 900px;
  margin: 40px auto;
  position: relative;
}


.mySlides img {
  width: 100%;
  border-radius: 10px;
}

/* knapper */
.prev, .next {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
}

.next {
  right: 0;
}

/* dots */
.dots {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.active {
  background: black;
}

/* ---------- BILLEDE ---------- */
.boessebillede {
  text-align: center;
  margin: 20px;
}

.boessebillede img {
  width: 300px;
}